body
{
margin: 0;
padding: 0;
}

a
{
  text-decoration: none;
}

h1, h2, h3
{
  font-family: 'Cinzel', serif;
}

h3
{
  text-align: center;
  font-size: 1.8em;
}

.header
{
  background-image: url("images/cactus2-medium.jpeg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

nav > ul
{
  display: --webkit-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  justify-content: space-around;
  font-size: 20px;
  background-color: #fff;
}

nav > li
{
  align-items: center;
}

.about
{
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
  width: 80%;
}

nav ul,li
{
  list-style: none;
  font-family: 'Cinzel', serif;
}

.projects ul
{
  display: --webkit-flex;
  display: flex;
  flex-flow: row wrap;
  padding-top: 25px;
  justify-content: space-around;
  font-size: 20px;
  /*background-image: url("images/littlegardener.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.projects li
{
  align-items: center;
}


.projects img
{
  width: 200px;
  height: 200px;
}

.social
{
  display: --webkit-flex;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 80px;
  margin-top: 80px;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}

.social img
{
  height: 25px;
  width: 25px;
}

.contact
{
    display: --webkit-flex;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    background-image: url("images/cactus.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

input
{
margin: 20px;
width: 400px;
height: 30px;
font-family: 'EB Garamond', serif;
font-size: 1em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid gray;
padding: 5px;
}

textarea
{
  width: 400px;
  height: 100px;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  border: 1px solid gray;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button
{
  height: 50px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 150px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

